.gaming-container {
  width: '100%';
  margin: 10px;
  .gaming-entity-container {
    border: 3px solid #999;
    padding: 10px;
    margin-right: 10px;
    flex: 1;

    // .test {
    //   height: 200px;
    //   background-color: orange;
    // }
  }

  .gaming-group-container{
    margin-bottom: 10px;
  }
}

.flex {
  display: flex;
}
